html {
  background-image: url(plant-background.jpg);
  background-size: 100%;
}

header {
  padding-top: 5px;
  padding-bottom: 2px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
}

body {
}

h3 {
  padding: 5px;
  background-color: #fff;
  display: inline-block;
  border-radius: 10px;
}

p {
  max-width: 400px;
  padding: 5px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #79d279;
}

tr:nth-of-type(even) {
  background: white;
}

th {
  background-color: white;
}

th, td {
  padding: 15px;
}
