html {
}

body {
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #B2E6D9;
}

th {
  background-color: white;
}

th, td {
  padding: 15px;
}
