html {
  background-image: url(plant-background.jpg);
  background-size: 100%;
  font-family: "Georgia";
  font-size: 16;
  }

header {
  padding-top: 5px;
  padding-bottom: 2px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
}

body {
}

.cartoon {
  text-align: center;
}

h3 {
  padding: 15px;
  background-color: rgba(255,255,255,0.8);
  display: inline-block;
  border-radius: 10px;
}

p, .references {
  padding: 5px;
  background-color: rgba(255,255,255,0.8);
  display: inline-block;
  border-radius: 10px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: rgba(121,210,121,0.8);
}

tr:nth-of-type(even) {
  background: white;
}

th {
  background-color: white;
}

th, td {
  padding: 15px;
}
